{% if (creations|length) > 0 %}
  {% for creation in creations %}
    <div class="creation">
      {% if creation.imageFilename %}
        <img data-img-native-url="{{ asset('images/creations/' ~ creation.imageFilename) }}" src="{{ asset('images/creations/' ~ creation.imageFilename) | imagine_filter('creation_thumbnail') }}" alt="{{ creation.title }}"
             data-controller="image-modal"
             data-action="click->image-modal#open" />
      {% endif %}
      <div class="creation-info">
        <div class="creation-name-theme">
          <h2>{{ creation.title }}</h2>
          <span>{{ creation.theme.name }}</span>
        </div>
        <p>
          {{ creation.description }}
        </p>
      </div>
      {% if is_granted('ROLE_ADMIN') %}
        <div class="creation-actions">
          <a href="{{ path('app.creation.edit', {'id': creation.id}) }}" class="creation-edit creation-action">{{ iconsCollection.pen|raw }} <span>Modifier</span></a>
          <form method="post" action="{{ path('app.creation.delete', {'id': creation.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette création ?')">
            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ creation.id) }}">
            <button type="submit" class="creation-delete creation-action">{{ iconsCollection.trash|raw }}</button>
          </form>
        </div>
      {% endif %}
    </div>
  {% endfor %}
{% else %}
  <p class="no-creations">
    Aucune création trouvée
  </p>
{% endif %}
