{% extends 'base.html.twig' %}

{% block title %}Toutes des créations
{% endblock %}

{% block importmap %}
	{{ parent() }}
	{{ importmap('creation') }}
{% endblock %}

{% block main %}
	<section class="creations-title-section">
		<div class="container">
			<div class="section-title">
				<h1>Tous les articles</h1>
				<p>Parcourez l'ensemble des créations artisanales en bois de Photo Rutile.</p>
			</div>
		</div>
	</section>

	<section class="creations-section" data-controller="filters">
		<div class="search-container">
			{{ iconsCollection.search|raw }}
			<input type="text" placeholder="Rechercher une création..."  data-action="input->filters#searchByNameWithDebounce">
		</div>
		<div class="filters-and-add container">
		<div class="filters">
			<button class="filter-button all active" data-theme="all">Tous</button>
			<button class="filter-button cuisine" data-theme="cuisine">Cuisine</button>
			<button class="filter-button decoration" data-theme="decoration">Décoration</button>
			<button class="filter-button noel" data-theme="noel">Noël</button>
		</div>

        {% if is_granted('ROLE_ADMIN') %}
		<div class="add-buttons">
            <a href="{{ path('app.creation.new') }}" class="add-creation-btn btn-primary btn-admin">+ Ajouter une création</a>
            <a href="{{ path('app.theme.new') }}" class="add-theme-btn btn-primary btn-admin">+ Ajouter un thème</a>
        </div>
        {% endif %}
		</div>
		
		<div class="container all-creations">
			<!-- Creations will be loaded here -->
            {% include 'frontOffice/creation/_creation_list.html.twig' %}
		</div>
	</section>
{% endblock %}
