{% extends 'base.html.twig' %}

{% block title %}Localisation
{% endblock %}

{% block importmap %}
	{{ parent() }}
	{{ importmap('localisation') }}
{% endblock %}

{% block main %}
	<section class="localisation-section">
		<div class="container">
			<div class="localisation-title">
				<h1>Nous trouver</h1>
				<p>Venez découvrir l'atelier et les créations directement sur place.</p>
			</div>
			<div class="informations-and-map">
				<div class="localisation-informations">
                <div class="localisation-information address">
					<div class="map-icon map">
						{{ iconsCollection.map|raw }}
					</div>
                    <div class="info-content">
                        <h3>Adresse</h3>
                        <p>Lyon, Tassin-la-Demi-Lune 69160</p>
                    </div>
                </div>

                <div class="localisation-information schedule">
					<div class="clock-icon clock">
						{{ iconsCollection.clock|raw }}
					</div>
                    <div class="info-content">
                        <h3>Horaires</h3>
                        <p>Lundi – Vendredi : 9h – 18h
                            Samedi : 10h – 16h
                            Dimanche : Fermé</p>
                    </div>
                </div>

                <div class="localisation-information contact">
					<div class="phone-icon phone">
						{{ iconsCollection.phone|raw }}
					</div>
                    <div class="info-content">
                        <h3>Téléphone</h3>
                        <p>07 69 36 87 10</p>
                    </div>
                </div>
                
                <div class="localisation-information contact">
					<div class="mail-icon email">
						{{ iconsCollection.mail|raw }}
					</div>
                    <div class="info-content">
                        <h3>Email</h3>
                        <p>photorutile@sfr.fr</p>
                    </div>
                </div>
                
                <a class="localisation-map-link btn-primary" href="https://www.google.com/maps/place/69160+Tassin-la-Demi-Lune/@45.7636814,4.7315381,14z/data=!3m1!4b1!4m6!3m5!1s0x47f4ec5723c2f447:0x408ab2ae4bb1a80!8m2!3d45.761337!4d4.776921!16s%2Fm%2F03qlldx?entry=ttu&g_ep=EgoyMDI2MDYxNi4wIKXMDSoASAFQAw%3D%3D">{{ iconsCollection.map|raw }} Voir sur Google Map</a>
				</div>

				<div class="localisation-map">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d22266.99720540735!2d4.731538063435221!3d45.76368143794716!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47f4ec5723c2f447%3A0x408ab2ae4bb1a80!2s69160%20Tassin-la-Demi-Lune!5e0!3m2!1sfr!2sfr!4v1781872339671!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
				</div>

			</div>
            </div>
		</section>
	{% endblock %}
