<nav class="navbar">
    <div class="container-navbar">
    <div class="logo-navbar">
        <img src="{{ asset('images/logo/photo-rutile.webp') }}" alt="PhotoRutile">
        <a href="{{ path('app.home') }}">PhotoRutile</a>
    </div>
    <ul>
        <li><a href="{{ path('app.home') }}">Accueil</a></li>
        <li><a href="{{ path('app.creation.index') }}">Créations</a></li>
        <li><a href="#about">A propos</a></li>
        <li><a href="{{ path('app.contact') }}">Contact</a></li>
        <li><a href="{{ path('app.localisation') }}">Localisation</a></li>
    </ul>
    </div>
</nav>