<nav class="navbar">
    <div class="container-navbar">
    <div class="logo-navbar">
        <img src="{{ asset('images/logo/photo-rutile.webp') }}" alt="PhotoRutile">
        <a href="{{ path('app_home') }}">PhotoRutile</a>
    </div>
    <ul>
        <li><a href="{{ path('app_home') }}">Accueil</a></li>
        <li><a href="{{ path('app_home') }}">Créations</a></li>
        <li><a href="{{ path('app_home') }}">A propos</a></li>
        <li><a href="{{ path('app_home') }}">Contact</a></li>
        <li><a href="{{ path('app_home') }}">Localisation</a></li>
    </ul>
    </div>
</nav>