{{ form_start(form, {'attr': {'class': 'creation-form'}}) }}
{% if form.vars.errors|length %}
    <div class="creation-form-global-error">
        {{ form_errors(form) }}
    </div>
{% endif %}
<div class="creation-form-field">
    {{ form_row(form.title) }}
</div>
<div class="creation-form-field">
    {{ form_row(form.description) }}
</div>

<div class="theme-material-container">
<div class="creation-form-field">
    {{ form_row(form.theme) }}
</div>
<div class="creation-form-field">
    {{ form_row(form.material) }}
</div>
</div>

<div class="creation-form-field">
    {{ form_row(form.imageFile) }}
</div>

{{ form_row(form.isHighlighted) }}


    
    <div class="creation-form-actions">
        <button class="btn-primary creation-form-submit" type="submit">{{ button_label|default('Enregistrer') }}</button>
    </div>
{{ form_widget(form._token) }}
{{ form_end(form, {'render_rest': false}) }}
